.page.theme_dark {
  --accent-color: #FF0070;
  --header-description: #000028;
  --card-text-color: #f1b2ce;
  --header-footer-title-color: #db00ff;
  --title-card-color: #ff0070;
  --color-menu: #FF0070;
}