/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --header-description: #353430;
  --card-text-color: #353430;
  --header-footer-title-color: #ffc2e6;
  --title-card-color: #353430;
  --color-menu: #353430;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  display: none;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.theme_light .header__theme-menu-button:hover {
  border:1px solid rgb(50 49 45 / 0.4);
}